<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
     b  a  i  y  a  z  e  e  d  h  a  s  s  a  n 
    </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='./assets/img/favicon.ico')}}" rel="icon">
  <link href="{{url_for('static', filename='./assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Adobe Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/gsz4ffc.css">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='./assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='./assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='./assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='./assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='./assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='./assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='./assets/css/style.css')}}" rel="stylesheet">
</head>